.page {
  display: flexbox;
  max-width: 30%;
  max-height: 30%;
  /* flex-direction: box; */
}

.grid {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  background-color: red;
  border: 1px 1px solid black;

 
  /* max-width: 30%; */
}

.presentation {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  /* max-width: 90%;
  max-height: 50%; */
  
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
